*{
    padding: 0;
    margin: 0;
    font-family: arial;
    border: border-box;
    text-align: center;
    line-height: 1.5rem;
}


/* Mobile devices styles */
@media only screen and (max-width: 480px) {
    /* Adjust font sizes for better readability */
    body {
        font-size: 14px; /* Smaller font size for mobile */
    }

    /* Make images responsive */
    img {
        max-width: 100%; /* Ensure images fit within the screen */
        height: auto; /* Maintain aspect ratio */
    }

    /* Adjust padding and margins for better touch navigation */
   .choices {
        padding: 5px; /* Reduce padding for smaller screens */
    }
   
}


/* Styles for tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Your CSS styles for tablets go here */
}

/* Styles for small laptops and large tablets */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Your CSS styles for small laptops and large tablets go here */
}

/* Styles for desktops */
@media only screen and (min-width: 1025px) {
    /* Your CSS styles for desktops go here */
}


.navbar {
    height: 60px;
    width: 100vw;
    padding: 6px;
    /* width: 100%; */
    background-color: #131a22;
    color: white;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    line-height: 4rem;
    
}

.choices {
    height: 100px;
    width: 100%;
    /* background-color: wheat; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px ;
    gap: 1rem;
    /* border-radius: 50%; */
    margin-left: -12px;
    
}
.choice {
    height: 100px;
    width: 100px;
    background-color: firebrick;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .box {
    height: 115px;
    width: 115px;
    border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
    
}

.box:hover {
    opacity: 0.5;
    cursor: pointer;
    background-color: #131a22;
}
h3 {
    text-align: center;
}

.score-board {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
   margin-top: 3rem;
   gap: 5rem;
}

#user-score, #comp-score {
    font-size: 2rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #131a22;
    color: white;
    font-size: 1.1rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
}

#youChose {
    line-height: 5rem;
}
