*{
    padding: 0;
    margin: 0;
    font-family: arial;
    border: border-box;
    text-align: center;
    line-height: 1.5rem;
}

.navbar {
    height: 60px;
    background-color: #131a22;
    color: white;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    line-height: 4rem;
    
}

.choices {
    height: 100px;
    /* background-color: wheat; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px ;
    gap: 3rem;
    /* border-radius: 50%; */
    
}
.choice {
    height: 100px;
    width: 100px;
    background-color: firebrick;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #rock {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#paper {
    height: 100px;
    width: 100px;
    background-color: purple;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #scissors {
    height: 100px;
    width: 100px;
    background-color: blue; 
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

 .box {
    height: 115px;
    width: 115px;
    border-radius: 50%;
     /* background-color: greenyellow; */
     display: flex;
     align-items: center;
     justify-content: center;
    
}

.box:hover {
    opacity: 0.5;
    cursor: pointer;
    background-color: #131a22;
   


}
h3 {
    text-align: center;
}

.score-board {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
   margin-top: 3rem;
   gap: 5rem;
}

#user-score, #comp-score {
    font-size: 2rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #131a22;
    color: white;
    font-size: 1.6rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
}

#youChose {
    line-height: 5rem;
}
